<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Authy.Net" version="1.1.0.3" targetFramework="net45" />
  <package id="OxyPlot.Core" version="2014.1.546" targetFramework="net45" />
  <package id="OxyPlot.WindowsForms" version="2014.1.546" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="Twilio" version="4.0.51" targetFramework="net45" />
</packages>